<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
<!--/* 
	* Visualizza degli alert in pagina con messaggi informativi oppure di errore 
	* Parametri:
	* - messages
	* - errorMessages
*/-->
<div style="margin-top: 10px;" th:each="message : ${messages}" class="alert alert-success alert-dismissible" role="alert">
	<span th:utext="${message}">Messaggio</span>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div style="margin-top: 10px;" th:each="message : ${errorMessages}" class="alert alert-danger alert-dismissible" role="alert">
	<span th:utext="${message}">Messaggio</span>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</body>
</html>