<!DOCTYPE html>
<html xmlns:yada="http://yada.yodadog.net" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
</head>
<body>
<!--/* Modal per il cambio password che viene caricato su ajaxModal */-->
<div class="modal fade" role="dialog">
	<div class="modal-dialog">
    	<div class="modal-content">
    		<div class="modal-header">
    			<h4 class="modal-title" id="ajaxModalTitle" th:text="#{yada.modal.passwordChange.title}">Cambio Password</h4>
    		</div>
    		<div class="modal-body">
				<form th:action="@{/passwordChangeAfterRequest}" th:object="${yadaFormPasswordChange}" role="form" method="post" class="yadaAjax">
					<fieldset>
	   					<input th:field="*{token}" type="hidden" />
		   				<div th:include="/yada/form/text(fieldName='username',labelKey='yada.form.label.username',readonly=true)"></div>
	   					<div th:replace="/yada/form/password(fieldName='password',labelKey='yada.form.label.password.change')"></div>
   					
		  				<div class="form-group mt-2">
		  					<button class="btn btn-primary" type="submit" th:text="#{yada.modal.passwordChange.button}">Cambia Password</button>
		  					<a th:href="@{/}" class="btn btn-default" type="button" th:text="#{yada.modal.confirm.cancel}">Annulla</a>
		  				</div>
					</fieldset>
				</form>
    		</div>
    		<div class="modal-footer">
    		</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
			yada.enableShowPassword();
			
			<!--/* In caso di successo oppure fatal error, chiude il modal e mostra quello corrispondente */-->
			if ([[${pwdChangeOk!=null}]]) {
				$("#ajaxModal").modal('hide');
				yada.showOkModal([[${YADA_NTITLE!=null?YADA_NTITLE.get(0):''}]], [[${YADA_NBODY!=null?YADA_NBODY.get(0):''}]], [[@{/}]]);
			}
			if ([[${fatalError!=null}]]) {
				$("#ajaxModal").modal('hide');
				yada.showErrorModal([[${YADA_NTITLE!=null?YADA_NTITLE.get(0):''}]], [[${YADA_NBODY!=null?YADA_NBODY.get(0):''}]], [[@{/passwordReset}]]);
			}
		//]]>
		</script>
	</div>
</div>
</body>
</html>
