<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:yada="http://yada.yodadog.net"
  	>
<head>
	<meta charset="utf-8" />
</head>
<body>
<!--/*
	 * This is a generic template for a bootstrap modal with title and body, to be returned via ajax.
	 * @param title modal-title text. Not used when header is specified
	 * @param header optional custom modal-header
	 * @param body modal-body
	 * @param footer optional custom modal-footer
	 * @param script optional script
	 * @param extraDialogClasses any classes to be added to the modal-dialog
 */-->
<div th:fragment="fragment(title,header,body,footer,script,extraDialogClasses)" th:with="titleId='t'+${#strings.randomAlphanumeric(16)}"
	class="modal fade" tabindex="-1" role="dialog" th:aria-labelledby="${titleId}" aria-hidden="true">
	<div class="modal-dialog" th:classappend="${extraDialogClasses}" role="document">
    	<div class="modal-content">
    		<div th:replace="${header}">
	    		<div class="modal-header">
	    			<h4 class="modal-title" th:id="${titleId}"><i th:class="|yadaIcon yadaIcon-${iconName} ${YADA_TOTSEVERITY}|"></i><span th:replace="${title}"></span></h4>
	    			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	   			</div>
    		</div>
     		<div th:replace="${body}">
	   			<div class="modal-body">
	   			</div>
 			</div>
 			<div th:replace="${footer}">
	   			<div class="modal-footer">
					<button type="button" class="btn  btn-secondary" data-bs-dismiss="modal" th:text="#{yada.view.modal.button.close}">Close</button>
	   			</div>
 			</div>   		
  		</div>
		<script th:replace="${script}"></script>
	</div>

</div>

</body>
</html>