<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:yada="http://yada.yodadog.net"
  	>
<body>
<!--/* 
	Questo layout è per un modal generico composto da titolo e contenuto che viene usato come ajaxModal.
	Il primo div qui sotto con classe "modal" viene in realtà ignorato in quanto il chiamante utilizza l'ajaxModal di mainLayout.html
 */-->
<div th:fragment="fragment(title,header,body,footer,script,extraDialogClasses)" 
	class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ajaxModalTitle" aria-hidden="true"> <!--/* Il primo div è ignorato */-->
	<div id="modalGenericDialog" class="modal-dialog" th:classappend="${extraDialogClasses}" role="document">
    	<div class="modal-content">
    		<div th:replace="${header}">
	    		<div class="modal-header">
	    			<div class="clearfix">
	    				<h4 class="modal-title" id="ajaxModalTitle"><span th:replace="${title}"></span></h4>
	    			</div>
	    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
	   			</div>
    		</div>
     		<div th:replace="${body}">
	   			<div class="modal-body">
	   			</div>
 			</div>
 			<div th:replace="${footer}">
	   			<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{yada.view.modal.button.close}">Close</button>
	   			</div>
 			</div>   		
  		</div>
		<script th:replace="${script}"></script>
	</div>

</div>

</body>
</html>