<!DOCTYPE html>
<html xmlns:yada="http://www.yadaframework.net" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>

<!--/*
Template for <yada:input> resulting HTML.
It is used internally by the yada dialect processor to render the <yada:input> tag but could be included directly in a HTML template if needed.

*/-->

<body>
	<!-- Can use any th attributes on the tag here because the original ones have been replaced with plain HTML tags already, so no conflicts can arise -->
	<th:block th:fragment="field" th:with="numeric=${input.type=='number'}, password=${input.type=='password'}">
		<div class="input-group yadaInput" th:classappend="${input.class}">
			<a th:if="${numeric}" class="input-group-text yadaInputNumericDecrement" href="javascript:;" tabindex=-1>-</a>
			<span th:if="${addonLeft!=null}" class="input-group-text" th:text="${addonLeft}">@</span>
			
			<input th:attr="data-yadaTagId=${yadaTagId},__${targetAttributesString}__" th:classappend="'form-control' + ${numeric?' yadaInputNumber':''}">
			
			<th:block th:if="${addonRight!=null}" class="input-group-text">
				<span class="input-group-text" th:text="${addonRight}">@example.com</span>
			</th:block>
			<span th:if="${password}" class="input-group-btn yadaShowPasswordAddon">
				<a class="btn btn-default yadaShowPassword" href="#" title="Show password"><span class="glyphicon glyphicon-eye-open"></span></a>
			</span>
			
			<a th:if="${numeric}" class="input-group-text yadaInputNumericIncrement" href="javascript:;" tabindex=-1>+</a>
			
			<a th:if="${helpText!=null}" class="yadaHelpButton input-group-text" data-trigger="focus" data-container="body" 
				data-toggle="popover" data-placement="auto bottom"
				data-html="true"
				th:attr="data-content=${help}">
				<i class="fa fa-question-circle fa-lg"></i>
			</a>
			<script th:if="${inputCounterId!=null}" th:inline="javascript">
				$(document).ready(function() {
					const inputCounterId = /*[[${inputCounterId}]]*/ 0;
					const yadaTagId = /*[[${yadaTagId}]]*/ 0;
					const suggestion = /*[[${suggestion}]]*/ false;
					yada.updateInputCounter($("input[data-yadaTagId="+yadaTagId+"]"), $("#"+inputCounterId));
					if (suggestion==true) {
						// Show suggestion list on user input
						$("input[data-yadaTagId="+yadaTagId+"]").on("keyup", yada.suggestionList);
					}
				});
			</script>
		</div>
	</th:block>
</body>
</html>
		