<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
 		<meta charset="UTF-8"/>
    </head>
    <body>
 	   <strong>Password Recovery - EXAMPLE SITE</strong>
    	<p>Dear user,<br/><br/>we received a password recovery request for your email address.</p>
    	<p>Click the following link to set a new password:</p>
    	<p><a th:text="${fullLink}" th:href="${fullLink}" href="#">Change Password</a></p>
    
     	<br />
    	<p>If you didn't send the request, delete this email and take the chance to visit our site: <a href="http://www.example.com">EXAMPLE SITE</a></p>
     	<p>
        	<img th:src="'cid:logosmall'" />
     	</p>
	  	<p style="margin-top: 10px;">Thank you, <br />
	     	<a href="http://www.example.com/"><em>EXAMPLESITE</em></a>
	  	</p>
    </body>
</html>
