<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:yada="http://www.yadaframework.net">
<head>
	<th:block th:replace="~{/header :: headFragment}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/static/datatables-2.1.8/datatables.min.css}"/>
</head>
<body>

<th:block th:replace="~{/header :: body}"/>

<br>

<main class="container">
	<h1>Users</h1>
	<div class="description">
		<p>This is an example of user administration table. Relevant functionality:</p>
		<ul>
			<li>Different user roles see different buttons</li>
			<li>Impersonation url is computed via javascript</li>
			<li>The Edit button starts a loader overlay on the table only</li>
			<li>The "Dummy" <i class='bi bi-0-circle'></i> button is enabled via javascript on some rows</li>
			<li>The Delete button opens a confirmation dialog</li>
			<li>The "admin" role has a specific CSS class added by the backend</li>
			<li>Some "native" datatables options are set in Java</li>
		</ul>
	</div>
	<br>
	<yada:datatable 
		yada:configuration="${userTableAttribute}" 
		yada:preprocessor="userTablePreprocessor"
		yada:postprocessor="userTablePostprocessor">
	</yada:datatable>
	<hr>
	<h1>Basic User Table</h1>
	<yada:datatable 
		yada:configuration="${basicTable}">
	</yada:datatable>
	
</main>

<script th:inline="javascript">

function impersonate(rowOrApi, idsOptional) {
	const url = /*[[@{/dashboard/user/impersonate}]]*/ "dummy";
	if (idsOptional?.length > 0) {
		// Toolbar button
		yada.impersonate(url, idsOptional[0]);
	} else {
		// Command button
		const id = rowOrApi.id;
		yada.impersonate(url, id);
	}
}

function disableCommandIcon(data, row, meta, dataTableJson, currentUserRoles) {
	console.log("disableCommandIcon called");
	if (meta.row % 2 === 0) {
		return "disabled";
	}
	return true;
}

function userTablePreprocessor(dataTableJson) {
	// Just an example
	// dataTableJson.options.responsive = true; 
	console.log("Config preprocessor called ");
}

function userTablePostprocessor(dataTableApi, dataTableJson) {
	dataTableApi.page.len(25).draw(); // Just an example
	console.log("API postprocessor called ");
}
</script>

<th:block th:replace="~{/footer :: body}"/>

<script th:src="@{|/static/datatables-2.1.8/datatables${@config.min}.js|}"></script>
<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.datatables.js}"></script>

</body>
</html>
