<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:yada="http://www.yadaframework.net">
<head>
	<th:block th:replace="~{/header :: headFragment}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/static/datatables-2.1.8/datatables.min.css}"/>
</head>
<body>

<th:block th:replace="~{/header :: body}"/>

<a th:href="@{/dashboard}">Back to Dashboard</a>
<br>

<main class="container">
	<h1>Users</h1>
	
	<yada:datatable id="userTable" yada:configuration="${yadaDataTable}" yada:preprocessor="userTablePreprocessor">
	</yada:datatable>
	
</main>

<script>
function userTablePreprocessor(dataTableOptionsJson) {
	dataTableOptionsJson.responsive = true; // Just an example
	console.log("Config handler called ");
}
</script>

<th:block th:replace="~{/footer :: body}"/>

<script th:src="@{|/static/datatables-2.1.8/datatables${@config.min}.js|}"></script>
<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.datatables.js}"></script>

</body>
</html>
