<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">
<body th:remove="tag">
	<footer>
	</footer>
	
	<script th:src="@{/static/jquery-3.7.1.min.js}" ></script>
	<script th:if="${!@config.developmentEnvironment}" th:src="@{/res/js/yada.min.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.ajax.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.cookieBanner.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.social.js}"></script>
    <script th:src="@{|/res/js/yex${@config.min}.js|}" ></script>
    <script th:src="@{/static/bootstrap-5.3.3/js/bootstrap.bundle.min.js}"></script>
    <!--/*  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    */-->

	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
			yada.devMode = /*[[${@config.isDevelopmentEnvironment()}]]*/ "unset";
			yada.baseUrl = /*[[@{/}]]*/ "unset";
			yada.resourceDir = /*[[${@config.versionedResourceDir}]]*/ "unset";
			yada.messages.connectionError.title = /*[[#{javascript.connection.error.title}]]*/ "unset";
			yada.messages.connectionError.message = /*[[#{javascript.connection.error.message}]]*/ "unset";
		//]]>
	</script>

	<div th:insert="~{${@yadaWebUtil.modalConfirmViewName} :: modalBlock}" id="yada-confirm"></div>

	<!--/* Notify modal */-->
	<div th:insert="~{${@yadaNotify.viewName} :: modal}" class="modal fade" th:classappend="|B${@config.bootstrapVersion}|" id="yada-notification" role="dialog"></div>
	
	<script th:if="${YADA_NBODY!=null}" type="text/javascript">
		yada.ready(function() {
			$('#yada-notification').modal('show');
		});
	</script>
</body>
</html>
