<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:yada="http://www.yadaframework.net"
  	>
<!--/* 
	DEPRECATED! Use a GenericModal instead.
	Modal for login. Can be used as-is or customized.
	TODO: i18n
 */-->
<body>
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<div id="loginModalDialog" class="modal-dialog">
    	<div class="modal-content">
    		<div class="modal-header">
    			<h3 class="modal-title" id="loginModalTitle">Login</h3>
    		</div>
    		<div class="modal-body">
				<form th:action="@{/loginPost}" role="form" method="post" id="loginForm">
					<fieldset>
						<div th:if="${lockoutMinutes}" class="alert alert-danger">Too many failed attempts: login disabled.<br/>Wait <span th:text="${lockoutMinutes}">5</span> minute<span th:text="${lockoutMinutes>1?'s':''}">s</span> and retry, or <a th:href="@{/passwordReset(email=${username})}">recover your password</a> in the meantime</div>
						<div th:if="${loginError}" class="alert alert-danger">Can't login. Please try again later and contact us if the problem persists.</div>
		  				<div class="form-group has-feedback" th:classappend="${usernameNotFound!=null || userDisabled!=null?'has-error':''}" >
		    				<label class="control-label" for="username">E-Mail</label>
		    				<div>
		    					<input type="email" id="username" name="username" th:value="${username}" class="form-control" placeholder="E-Mail" required="required" autofocus="autofocus" />
			    				<span th:if="${usernameNotFound}" class="help-block">User not found. Please check that the email is correct, or register</span>
			    				<span th:if="${userDisabled}" class="help-block">User disabled. Please contact us to fix this issue.</span>
		    				</div>
		  				</div>
		  				<div class="form-group has-feedback" th:classappend="${passwordError!=null?'has-error':''}">
		    				<label class="control-label" for="password">Password</label>
		    				<div>
		    					<!--/* Not needed if the confirmation message is shown before performing login  
				 				<div th:if="${passwordChanged}" class="help-block alert alert-success">Your password has been changed succesfully. Please type the new password to log in</div>
		    					*/-->
		    					<div class="input-group">
		    						<input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required" th:value="${password}"/>
		    						<span class="input-group-btn">
										<a class="btn  btn-secondary yadaShowPassword" href="#" title="Show password"><span class="glyphicon glyphicon-eye-open"></span></a>
									</span>
		    					</div>
		    					<span th:if="${passwordError}" class="help-block">Invalid password. If you forgot it, <a th:href="@{/passwordReset(email=${username})}">click here</a>.</span>
		    				</div>
		  				</div>
		  				<div class="form-group">
		  					<button class="btn btn-primary" type="submit">Login</button>
		  					<button type="button" class="btn  btn-secondary" data-dismiss="modal">Cancel</button>
		  				</div>
					</fieldset>
				</form>
				
				<form th:action="@{/passwordReset}" class="s_showLoaderForm" role="form" method="post" id="pwdRecoverForm">
					<input type="hidden" name="email" th:value="${username}" />
					<p><a href="#" th:text="#{view.link.forgotPassword}">Forgot my password</a></p>
				</form>
				
    		</div>
    		<div class="modal-footer">
    		</div>
		</div>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		    yada.loaderOff();
		    yada.enableShowPassword();
		    $(document).ready(function() {
			    yada.openLoginModal();
		    });
		    
		    $('#pwdRecoverForm a').click(function(e) {
		    	e.preventDefault();
		    	var email=$('#loginForm input[name="username"]').val();
		    	$('#pwdRecoverForm input[name="email"]').val(email);
		    	$('#pwdRecoverForm').submit();
		    	return false;
		    });
		    
		//]]>
		</script>
	
	</div>
</div>
</body>
</html>
