@import './_variables.scss';
@import './_bootstrapFix.scss';

html {
	font-size: $font-size-base;
}

header, footer {
    background-color: #f1f1f1;
	padding-top: 10px;
}

footer {
	margin-top: 50px;
	height: 50px;
}

main {
	min-height: 300px;
}

tr.userProfileAdmin td:not(.yadaCommandButtonCell) {
	color: red;
}
.yadaRowCommandButton {
	&:not(.disabled) {
		i {
			color: black;
		}
	}
	&.disabled {
		i {
			color: #ccc;
		}
	}
}

.yadaImpersonationBanner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 5px;
	height: 13px;
	z-index: 9999;
	background-color: yellow;
	font-size: 12px;
	text-align: center;
	a, a:hover, a:visited {
	    color: black !important;
	    position: relative;
	    top: -3px;
		text-decoration: none;
		button {
			float: right;
		}
	}
}


///////////////////////
// Yada v0.7.6 icon fix
//
.yadaIcon-edit:before {
    content: "\F4CB";
}

.yadaIcon-down:before {
    content: "\F128";
}

.yadaIcon-up:before {
    content: "\F148";
}

.yadaIcon-edit:before {
    content: "\F4CB";
}

.yadaIcon-delete:before {
    content: "\F5DE";
}

.yadaIcon-clone:before {
    content: "\F3C2";
}

.yadaIcon-add:before {
    content: "\F4FD";
}

.yadaIcon-eye:before {
    content: "\F341";
}
