#preamble {
	font-style: italic;
}

.todo {
    border: thin solid;
    position: relative;
} 
.todo:before {
	content: "TODO";
    position: absolute;
    top: -9px;
    left: -2px;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 2px 10px;
    font-size: 0.8em;
}

ul li p {
	margin: 0;
}

.imageblock.center {
	text-align: center !important;
}
.imageblock.center .title {
	text-align: center !important;
	padding-top: 10px;
}
.imageblock.center img {
	border: solid thin;
}

:not(pre):not([class^=L])>code {
	color: blue;
	background-color: #ffffff00 !important;
}

/* Custom code-block icons */

/* 
code.hljs {
	margin-left: 28px !important;
}
*/
 
code.hljs::after { 
	content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
	left: -10px;
    top: -4px;
    background-repeat: no-repeat;
    background-size: contain;
}

code.hljs.language-dos::after { 
	background-image:url('img/lang/winlogo.svg');
}

code.hljs.language-gradle::after { 
	background-image:url('img/lang/gradle-elephant-icon-dark-green-secondary.svg');
    width: 25px;
}

/* Code scrolling instead of wrapping */
code {
	overflow: auto;
    width: max-content;
    margin-left: 0 !important;
    min-width: 100%;
}

.bookstore {
	position: relative;
    border: thin solid #8e0a62;
    padding: 0 1em;
    margin-left: 28px;	
    margin-bottom: 10px;
}
.bookstore::before {
    content: "\f02d";
    font-family: 'FontAwesome';
    color: #8e0a62;
    position: absolute;
    left: -32px;
    top: -3px;
    font-size: 1.7rem;
}

.conum[data-value] {
	background-color: #337a4669;
}

#navigator {
	font-size: 1.7em;
	border: thin solid #dedede;
    color: #7a2518;
    cursor: pointer;
}
#navigator option:first-child {
	display: none;
}
#navigator option {
	font-size: 0.6em;
	color: #2156a5;
}
