<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<!--/*
A file-upload input element.

Parameters:
- fieldName = name of the field holding the value
- labelKey = key in messages.properties for the label text
- label = label to use, if not using a labelKey
- required = true for a required value (optional)
- disabled = true for a disabled field - NOT SENT TO SERVER (optional)
- help = testo per il pulsante di help (optional)

*/-->
<body>
<div class="form-group has-feedback" 
	th:fragment="field"
	th:with="hasError=${#fields.hasErrors('__${fieldName}__')}" th:classappend="${hasError}? has-error">
	<label class="control-label" th:for="${#ids.next('fieldId')}" th:utext="${labelKey!=null?#messages.msg(labelKey):label}">Nome:</label>
	<a th:if="${help!=null}" class="yadaHelpButton" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" tabindex="-1"
		th:attr="data-content=${help}">
		<i class="fa fa-question-circle fa-lg"></i>
	</a>
	<input th:field="*{__${fieldName}__}" type="file" th:disabled="${disabled}" th:required="${required}" class="form-control has-feedback" 
		th:id="${#ids.seq('fieldId')}" th:attr="aria-describedby=${#ids.next('fieldId')}"/>
	<span th:if="${hasError}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	<div th:each="err : ${#fields.errors('__${fieldName}__')}" class="alert alert-danger alert-dismissible yadaInputError" role="alert">
		<span th:text="${err}" th:id="${#ids.seq('fieldId')}">Error Text</span>
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	</div>
</div>    	
</body>
</html>