<!DOCTYPE html>
<html xmlns:yada="http://yada.yodadog.net" xmlns:th="http://www.thymeleaf.org">
<!--/*
A radio list for static (Spring-EL) elements.

TODO: fare una versione che riceve un enum per avere la lista dei valori

Parameters:
- fieldName = name of the field holding the value
- labelKey = key in messages.properties for the top label text
- label = top label to use, if not using a labelKey
- values = a static list, like ${ {true,false} } (space is important) - can be absent for empty select
- labelPrefix = the prefix of the key used for radio labels, like 'form.label.'; values will be appended to the prefix to form a messages key
- helpPrefix = (optional) the prefix of the key used for help texts, like 'form.help.'; values will be appended to the prefix to form a messages key

Example:

<div th:replace="/yada/form/radio-values::field(fieldName='type',values=${ {'notifyEventMilan','notifyEventOther','newsletterUnaTantum'} },labelPrefix='form.label.',helpPrefix='form.help.')"></div>

*/-->
<body>
<div th:fragment="field"
	class="form-group has-feedback" th:with="hasError=${#fields.hasErrors('__${fieldName}__')}" th:classappend="${hasError}? has-error">
	<label th:if="${label!=null || labelKey!=null}" class="control-label" th:text="${labelKey!=null?#messages.msg(labelKey):label}">Nome:</label>
	<div class="radio" th:each="value : ${values}">
		<label class="control-label">
			<input type="radio" th:field="*{__${fieldName}__}" th:value="${value}" th:id="${#ids.seq('fieldId')}" />
			<span th:text="#{${labelPrefix+value}}">Radio Text</span>
			<span th:if="${hasError}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
		</label>
		<a th:if="${helpPrefix!=null}" class="yadaHelpButton" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" tabindex="-1"
			th:attr="data-content=#{${helpPrefix+value}}">
			<i class="fa fa-question-circle fa-lg"></i>
		</a>
	</div>
</div>    	
</body>
</html>

